.header {
	background-color: $main-color;
	padding: 0 2em;
}

.header__logo {
	color: $white-color;
	display: block;
	padding: 2.5em 0;
	text-decoration: none;

	img {
		display: block;
		height: auto;
		@include opacity(0.75);
		width: 12em;
	}
}