html,
body {
	color: #282828;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-weight: 900;
	text-align: center;
}

p {
	font-weight: 500;
	margin: 0 0 1.5em;
}